body {
    /*overflow:hidden;*/
}
#map{
    margin:0;
    height: 100%;
    width: 100%;
}
#wrapper{
    padding: 0;
    margin:0 auto;
    width: 600px;
}

.espaco{
    height: 20px;
}

.data{
    line-height: 30px;
    height: 30px;
}

.espaco-grande{
    margin-bottom: 100px;
}

textarea
{
  border:1px solid #999999;
  width:100%;
}