#map{
    margin:0;
    height: 100%;
    width: 100%;
}
#wrapper{
    padding: 0;
    margin:0;
}
#tool-bar{
    width: 100%;
    height: 50px;
    background-color: #CCCCCC;
    padding: 0;
}
#tool-bar ul
{
    list-style-type: none;
    padding: 8px 0 0 5px;
    margin:0;
}
#tool-bar ul li{
    display: inline;
    margin:5px;
}