#tool-bar ul{
    padding: 0;
    list-style: none;
    margin: 0;
}
#tool-bar{
    background: #f2f2f2;
    height: 48px;
}
#tool-bar ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
#tool-bar a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
#tool-bar ul li a:hover{
    color: #fff;
    background: #939393;
}
#tool-bar ul li ul.dropdown{
    min-width: 210px; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
#tool-bar ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
#tool-bar ul li ul.dropdown li{
    display: block;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.dropdown{
    z-index: 5;
}

.espaco{
    height: 20px;
}
